body{

    background: linear-gradient(to bottom ,#FFFF55,#FF5555 ,#FF55FF,#55FF55  );
    background: radial-gradient(circle, #ff0000, #512E5F );
    background-position: bottom;
}

h1{
    text-align: center;
}

p{
    text-align: start;
    
}

images{
    display: flex;
  justify-content: center;
  align-items: center;
  
}



.video-container {
    text-align: center;
    
}


